@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.root {
    --nav-colour: #6F6AF7;
}

 body {
  height: 100%;
  margin: 0;
}


/** nagigation **/

.navigation-container {
    position: fixed;
    width: 1728px;
    height: 100px;
    left: 0px;
    top: 0px;
    background-color: #6F6AF7;
    z-index: 100;
}

.nav-brand {
    position: absolute;
    left: 30px;
    top: 10px;
    font-family:  'Delius Unicase';
    font-style: normal;
    font-weight: 700;
    font-size: 61.43px;
    line-height: 79px;
    color: #FFFFFF;
}

.properties {
    list-style: none;
    flex-direction: column;
    text-align:center;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 25.43px;
    line-height: 47px;
    color: #FFFFFF;
}


.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 0rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    white-space: nowrap;
    }
  

  .home {
    position: absolute;
    width: 102px;
    height: 36px;
    left: 355px;
    top: 30px;
  }

  .about-us {
    position: absolute;
    width: 157px;
    height: 36px;
    left: 467px;
    top: 30px;
  }

  .information {
    position: absolute;
    width: 199px;
    height: 36px;
    left: 616px;
    top: 30px;
  }

  .more {
    position: absolute;
    width: 199px;
    height: 36px;
    left: 767px;
    top: 30px;
  }

  .md {
    position: absolute;
    left: 67%;
    right: 36%;
    top: 0%;
    bottom: 95.97%;
    transform: rotate(-0deg);
    background: #FFFFFF;
  }

  .hamburger {
    position: absolute;
    width: 100px;
    left: 1250px;
    right: 3.07;
    top: 32.87px;
    bottom: 95.88%;
    background: #FFFFFF;
  }

  .search-container {
    position: fixed;
    left: 965px;
    top: 32px;
    z-index: 100;
  }

  .search-bar {
    height: 25px;
    width: 200px;
    border-radius: 63px;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #FFFFFF;
  }

  /** image **/

  .limg {
    position: relative;
    left: 118px;
    top: 155px;
    background: url(image.png);
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
  }

  .rimg {
    position: absolute;
    left: 525px;
    top: 166px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
  }

  .para {
    position: absolute;
    width: 922;
    height: 83px;
    left: 568px;
    top: 180px;
    font-family: 'DM sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 178.7%;
    color: #6F7373;
    z-index: 1;
  }

  .flex-container1 {
    box-sizing: border-box;
    position: fixed;
    width: 52px;
    height: 52px;
    left: 1293px;
    top: 245px;
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 11px;
    z-index: 1;
  }
  
  .flex-container2 {
    box-sizing: border-box;
    position: fixed;
    width: 52px;
    height: 52px;
    left: 1293px;
    top: 305px;
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 11px;
    z-index: 1;
  }

  .flex-container3 {
    box-sizing: border-box;
    position: fixed;
    width: 52px;
    height: 52px;
    left: 1293px;
    top: 365px;
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 11px;
    z-index: 1;
  }


  /** middle thing **/


  .midd1 {
    position: absolute;
    width: 225px;
    height: 80.48px;
    left: 125px;
    top: 550px;
    background: #929DFF;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
  }

  .midd1 .content-one {
    position: absolute;
    width: 124px;
    height: 10px;
    left: 18px;
    top: 6px;
    color: #FFFFFF;
    font-family: 'DN Sans';
    font-style: normal;
    font-weight: 545;
    font-size: 17.2px;
    line-height: 178.7%;
    letter-spacing: 0.04em;
  }

  .midd2 {
    position: absolute;
    width: 225px;
    height: 80.48px;
    left: 415px;
    top: 550px;
    background: #734CF2;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
  }

  .midd2 .content-two {
    position: absolute;
    width: 124px;
    height: 10px;
    left: 18px;
    top: 6px;
    color: #FFFFFF;
    font-family: 'DN Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17.2px;
    line-height: 178.7%;
    letter-spacing: 0.04em;
  }


 
  .midd3 {
    position: absolute;
    width: 225px;
    height: 80.48px;
    left: 705px;
    top: 550px;
    background: #D288FF;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
  }

  .midd3 .content-three {
    position: absolute;
    width: 124px;
    height: 10px;
    left: 18px;
    top: 6px;
    color: #FFFFFF;
    font-family: 'DN Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17.2px;
    line-height: 178.7%;
    letter-spacing: 0.04em;
  }


  .midd4 {
    position: absolute;
    width: 225px;
    height: 80.48px;
    left: 995px;
    top: 550px;
    background: #000000;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
  }

  .midd4 .content-four {
    position: absolute;
    width: 124px;
    height: 10px;
    left: 18px;
    top: 6px;
    color: #FFFFFF;
    font-family: 'DN Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17.2px;
    line-height: 178.7%;
    letter-spacing: 0.04em;
  }

 .img-group-2 {
    position: fixed;
    top: 568px;
    left: 1093px;
    z-index: 100;

 } 

 /** next-scroll **/


 .box {
  position:absolute;
  width: 1077px;
  height: 500px;
  left: 140px;
  top: 800px;
  background: #483EFF;
  bottom: 20px;
  border-radius: 21px;
  
}

.info-box {
  position: relative;
  height: 440px;
  width: 670px;
  left: 380px;
  top: 30px;
  border-radius: 19px;
  background: #FFFFFF;
}

.button1 {
  position: absolute;
  width: 250px;
  height: 90px;
  left: 64px;
  top: 50px;
  cursor: pointer;
  background: #BCE0F6;
  box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.39);
  border-radius: 22px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  
}

.button2 {
  position: absolute;
  width: 250px;
  height: 90px;
  left: 64px;
  top: 200px;
  cursor: pointer;
  background: #483EFF;
  border: 3px solid #FFFFFF;
  border-radius: 22px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
  
}

.button3 {
  position: absolute;
  width: 250px;
  height: 90px;
  left: 64px;
  top: 350px;
  cursor: pointer;
  background: #483EFF;
  border: 3px solid #FFFFFF;
  border-radius: 22px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
  
}

.info-text {
  position: absolute;
  width: 200px;
  height: 36px;
  left: 560px;
  top: 820px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height:45px;
  letter-spacing: 0.105em;
  color: #04285A;
  white-space: nowrap; 
}

.flprop {
  font-family: Roboto;
  font-size: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.105em;
  color: #04285A;
}

.name {
  position: absolute;
  width: 85px;
  height: 26px;
  left: 600px;
  top: 933px;
}

.email {
  position: absolute;
  width: 85px;
  height: 26px;
  left: 600px;
  top: 1003px;
}

.phone {
  position: absolute;
  width: 85px;
  height: 26px;
  left: 600px;
  top: 1076px;
}

.mark {
  position: absolute;
  width: 85px;
  height: 26px;
  left: 600px;
  top: 1149px;
}

.frprop {
  font-family: Roboto;
  font-size: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #04285A;
}

.recipient {
  position: absolute;
  width: 85px;
  height: 26px;
  left: 775px;
  top: 937.5px;
  white-space: nowrap;
}

.id {
  position: absolute;
  width: 85px;
  height: 26px;
  left: 775px;
  top: 1003.5px;
  white-space: nowrap;
}

.number {
  position: absolute;
  width: 85px;
  height: 26px;
  left: 775px;
  top: 1076.5px;
  white-space: nowrap;
}

.value {
  position: absolute;
  width: 85px;
  height: 26px;
  left: 775px;
  top: 1149.5px;
  white-space: nowrap;
}

.next {
  position: absolute;
  width: 140px;
  height: 45px;
  left:1030px;
  top: 1200px;
  background: #000000;
  border-radius: 9px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  left: 1000px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  cursor: pointer;
}

.next .arrow {
  display: inline-block;
  transform: translateY(5px);
}

 .box2 {
  position: relative;
  bottom: 20px;
  top: 1000px;
  left: 50%; 
  width: 70%;
  height: 5px;
  background-color: #FFFFFF;
 }

