@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');



.root {
    --nav-colour: #6F6AF7;
}

/** nagigation **/

.navigation-container {
    position: fixed;
    width: 1728px;
    height: 100px;
    left: 0px;
    top: 0px;
    background-color: #6F6AF7;
    z-index: 100;
}

.nav-brand {
    position: absolute;
    left: 30px;
    top: 10px;
    font-family:  'Delius Unicase';
    font-style: normal;
    font-weight: 700;
    font-size: 61.43px;
    line-height: 79px;
    color: #FFFFFF;
}

.properties {
    list-style: none;
    flex-direction: column;
    text-align:center;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 25.43px;
    line-height: 47px;
    color: #FFFFFF;
}


.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 0rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    white-space: nowrap;
    }
  

  .home {
    position: absolute;
    width: 102px;
    height: 36px;
    left: 355px;
    top: 30px;
  }

  .about-us {
    position: absolute;
    width: 157px;
    height: 36px;
    left: 467px;
    top: 30px;
  }

  .information {
    position: absolute;
    width: 199px;
    height: 36px;
    left: 616px;
    top: 30px;
  }

  .more {
    position: absolute;
    width: 199px;
    height: 36px;
    left: 767px;
    top: 30px;
  }

  .md {
    position: absolute;
    left: 67%;
    right: 36%;
    top: 0%;
    bottom: 95.97%;
    transform: rotate(-0deg);
    background: #FFFFFF;
  }

  .hamburger {
    position: absolute;
    width: 100px;
    left: 1250px;
    right: 3.07;
    top: 32.87px;
    bottom: 95.88%;
    background: #FFFFFF;
  }

  .search-container {
    position: fixed;
    left: 965px;
    top: 32px;
    z-index: 100;
  }

  .search-bar {
    height: 25px;
    width: 200px;
    border-radius: 63px;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #FFFFFF;
  }

  /** image **/

  .limg {
    position: relative;
    left: 130px;
    top: 155px;
    background: url(image.png);
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
  }

  .rimg {
    position: absolute;
    left: 520px;
    top: 163px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
  }

  .para {
    position: absolute;
    width: 922;
    height: 83px;
    left: 568px;
    top: 180px;
    font-family: 'DM sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 178.7%;
    color: #6F7373;
    z-index: 1;
  }

  /** middle thing **/


  .midd1 {
    position: absolute;
    width: 225px;
    height: 80.48px;
    left: 125px;
    top: 550px;
    background: #929DFF;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
  }

  .midd1 .content-one {
    position: absolute;
    width: 124px;
    height: 10px;
    left: 18px;
    top: 6px;
    color: #FFFFFF;
    font-family: 'DN Sans';
    font-style: normal;
    font-weight: 545;
    font-size: 17.2px;
    line-height: 178.7%;
    letter-spacing: 0.04em;
  }

  .midd2 {
    position: absolute;
    width: 225px;
    height: 80.48px;
    left: 415px;
    top: 550px;
    background: #734CF2;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
  }

  .midd2 .content-two {
    position: absolute;
    width: 124px;
    height: 10px;
    left: 18px;
    top: 6px;
    color: #FFFFFF;
    font-family: 'DN Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17.2px;
    line-height: 178.7%;
    letter-spacing: 0.04em;
  }


 
  .midd3 {
    position: absolute;
    width: 225px;
    height: 80.48px;
    left: 705px;
    top: 550px;
    background: #D288FF;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
  }

  .midd3 .content-three {
    position: absolute;
    width: 124px;
    height: 10px;
    left: 18px;
    top: 6px;
    color: #FFFFFF;
    font-family: 'DN Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17.2px;
    line-height: 178.7%;
    letter-spacing: 0.04em;
  }


  .midd4 {
    position: absolute;
    width: 225px;
    height: 80.48px;
    left: 995px;
    top: 550px;
    background: #000000;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
  }

  .midd4 .content-four {
    position: absolute;
    width: 124px;
    height: 10px;
    left: 18px;
    top: 6px;
    color: #FFFFFF;
    font-family: 'DN Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17.2px;
    line-height: 178.7%;
    letter-spacing: 0.04em;
  }

 .img-group-2 {
    position: fixed;
    top: 585px;
    left: 1130px;
    z-index: 100;

 } 

 /** next-scroll **/

 .rectangle-9 {
  position: absolute;
  width: 1020px;
  height: 717px;
  left: 130px;
  top: 780px;
  background: #483EFF;
  border-radius: 21px;
 }
