@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');



.root {
    --nav-colour: #6F6AF7;
}

/** nagigation **/

.navigation-container {
    position: fixed;
    width: 1728px;
    height: 127px;
    left: 0px;
    top: 0px;
    background-color: #6F6AF7;
}

.nav-brand {
    position: absolute;
    width: 215px;
    left: 40px;
    height: 63px;
    top: 24px;
    font-family:  'Delius Unicase';
    font-style: normal;
    font-weight: 700;
    font-size: 61.43px;
    line-height: 79px;
    color: #FFFFFF;
}

.properties {
    list-style: none;
    flex-direction: column;
    text-align:center;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 25.43px;
    line-height: 47px;
    color: #FFFFFF;
}


.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 0rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    white-space: nowrap;
    }
  

  .home {
    position: absolute;
    width: 102px;
    height: 33px;
    left: 355px;
    top: 42px;
  }

  .about-us {
    position: absolute;
    width: 157px;
    height: 36px;
    left: 467px;
    top: 41px;
  }

  .information {
    position: absolute;
    width: 199px;
    height: 36px;
    left: 616px;
    top: 41px;
  }

  .more {
    position: absolute;
    width: 199px;
    height: 36px;
    left: 767px;
    top: 41px;
  }

  .md {
    position: absolute;
    left: 67%;
    right: 36%;
    top: 0%;
    bottom: 95.97%;
    transform: rotate(-0deg);
    background: #FFFFFF;
  }

  .hamburger {
    position: absolute;
    width: 100px;
    left: 1250px;
    right: 3.07;
    top: 43.87px;
    bottom: 95.88%;
    background: #FFFFFF;
  }

  .search-container {
    position: absolute;
    left: 965px;
    top: 43px;
  }

  .search-bar {
    height: 25px;
    width: 200px;
    border-radius: 63px;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #FFFFFF;
  }

 